<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anuj.btcom">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

    <application>
<!--        <activity android:name=".MainActivity"></activity>-->

        <meta-data
            android:name=" com.Picovr.Type "
            android:value="vr" />
        <meta-data
            android:name=" pvr.app.type "
            android:value="vr" />

<!--        <receiver android:name=".BootReceiver">-->
<!--            <intent-filter android:priority="1000">-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <meta-data
            android:name=" pvr.display.orientation "
            android:value="180" />
        <meta-data
            android:name=" com.softwinner.vr.mode"
            android:value="vr" />
    </application>

</manifest>